<header>
    <nav class="menu">
        <ul>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/posts/create/">Create Post</a></li>
            <li><a href="/users/create/">Create Users</a></li>

        </ul>
    </nav>
</header>