<html lang="en-gb">
<%- include('_head') -%>
    <%- include('_header') -%>

        <body>
            <h1>Create User</h1>
            <form method="post" action="/users/create">
                <label>
                    Name:
                    <input type="text" name="name" required />
                </label>
                <br></br>
                <label>
                    Username:
                    <input type="text" name="username" required />
                </label>
                <br></br>
                <label>
                    Email:
                    <input type="text" name="email" required />
                </label>
                <br></br>
                <label>
                    Profile Image Url:
                    <input type="text" name="profileImageUrl" required />
                </label>
                <br></br>
                <label>
                    Cover Image Url:
                    <input type="text" name="coverImageUrl" required />
                </label>
                <br></br>
                <button type="submit">Submit</button>
            </form>
        </body>
        <%- include('_footer') -%>

</html>